<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ironhack Bureau Investigation</title>
</head>
<body>

  Hello, Ironhacker, this is the inferno!
  <p>This is fakeRoute: <%=fakeRoute%></p>
  <% if (user !== "undefined") { %>
    And you are:
    <p>Username: <%= user.username %></p>
    <p>Name: <%= user.name %></p>
    <p>FamilyName: <%= user.familyName %></p>
    <p>Role: <%= user.role %></p>
    <p><a href="/newEmployee">New Employee </a></p>
    <p><a href="/removeEmployee">RemoveEmployee </a></p>
  <%} else {%>
    <a href="/login">Login</a>
  <%}%>

</body>
</html>
